* {
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
:root {
    --yellow: #fbffa7;
    --orange: #ff764d;
    --light-blue: #b1c5ff;
    --voilet: #d5b3ff;
    --green: #b6ffc0;
    --blue: #0000ff;
    --white: #fff;
    --black: #000;
    --grey: #b1b1b1;
}

/* navbar from here on */

nav {
    width: 100%;
    background-color: var(--white);
    height: 40px;
    position: relative;
    display: flex;
    border-bottom: 1px solid var(--grey);
}
.left-links {
    height: 30px;
    width: 70%;
}
a {
    text-decoration: none;
    color: var(--black);
}
a:hover {
    color: var(--blue);
}
.left-links img {
    width: 50px;
    height: 35px;
    margin: 2.5px 5px 2.5px 10px;
    float: left;
}
.left-links .links {
    margin: 12px 0 5px 20px;
    font-weight: 600;
    font-size: 0.9em;
    float: left;
}
.right-links {
    width: 30%;
    height: 30px;
    text-align: right;
    padding-top: 12px;
}
.right-links a {
    margin: 5px;
    font-weight: 600;
    font-size: 0.9em;    
}

/* ending of navbar */

.choose {
    width: 100%;
    margin: 15px 0;
}
.chosen {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 10;
}
.choose a {
    font-weight: 600;
    font-size: 0.9em; 
    margin-left: 15px;
}
.choose a:hover, .choose a:active {
    color: var(--orange);
}

/* starting of main section */

main {
    width: 100%;
}
.num-1 {
    width: 100%;
    height: fit-content;
    margin-bottom: 60px;
}
.num-1 img {
    width: 84%;
    margin: 0 8% 10px 8%;
    aspect-ratio: 16 / 9;
}
.numhead-1 {
    width: 60%;
    margin: 30px 20% 20px 20%;
}
/* end of number 1 */

.num-2 {
    position: relative;
    width: 100%;
    display: flex;
    margin: 60px 0;
}
.num-2 img {

    width: 40%;
    aspect-ratio: 1 / 1;
    z-index: 1;
    margin: 15% 0 15% 8%;
}
.emp-1 {
    position: absolute;
    width: 70%;
    aspect-ratio: 1 / 1;
    background-color: var(--yellow);
    right: 0;
}
.emp-1 img {
    position: absolute;
    right: 10%;
    width: 50%;
    margin-top: 35%;
    aspect-ratio: 3 / 2;
}
/* end of number 2 */

.num-3 {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.num-3 img, .mid-img {
    width: 60%;
    aspect-ratio: 16 / 9;
    margin: 0 20%;
}
.num-3 span, .mid-img-span {
    margin: 5px 20% 0 20%;
}
/* end of number 3 */

.num-4 {
    display: flex;
    position: relative;
    width: 100%;
}
.num-4 .imgg {
    position: absolute;
    width: 40%;
    right: 0;
    aspect-ratio: 1 / 1;
    margin-right: 8%;
    margin-top: 8.5rem;
}
.emp-2 {
    width: 60%;
    aspect-ratio: 1 / 1;
    background-color: var(--green);
}
.emp-2 img {
    width: 60%;
    aspect-ratio: 16 / 9;
    margin-left: 13.4%;
    margin-top: 80px;
}
/* end of number 4 */

.num-5 {
    display: flex;
    flex-direction: column;
    width: 100%;
}
/*  end of number 5  */

.num-6 {
    display: flex;
    position: relative;
    width: 100%;
}
.emp-3 {
    width: 70%;
    background-color: var(--voilet);
    margin: 80px 15%;
    aspect-ratio: 7 / 6
}
.num-6 .imgg-2 {
    position: absolute;
    width: 40%;
    margin: 24% 0 0 8%;
    aspect-ratio: 3 / 2;
}
.num-6 .imgg-3 {
    position: absolute;
    right: 0;
    width: 40%;
    aspect-ratio: 1 / 1;
    margin-top: 18%;
}
/* ending of number 6  */

/* no code for number 7 */

/* ending of number 7 */

.emp-4 {
    width: 100%;
}
.num-8 {
    display: flex;
    position: relative;
    width: 84%;
    background-color: var(--light-blue);
    margin: 80px 8%;
}
.num-8 img {
    width: 59.3%;
    aspect-ratio: 1 / 1;
}
.emp-5 {
    position: absolute;
    right: 0;
    width: 40%;
    padding: 8%;
    line-height: 40px;
    letter-spacing: 1px;
}
/* ending of number 8 */

/* ending of main section */

/* starting of footer */

footer {
    margin-top: 50px;
    width: 100%;
}
.ft-site-nm {
    font-size: 2em;
    margin-left: 8%;
}
.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 8%;
}
.colm-1 {
    width: 30%;
    line-height: 30px;
    font-weight: 700;
}
.colm-2  {
    padding-left: 8%;
    width: 40%;
    line-height: 30px;
    font-weight: 700;
}
.pad-top {
    padding-top: 21.28px;
}
.fa-brands {
    margin-top: 20px;
    font-size: 2.5em;
}
.fa-facebook, .fa-twitter {
    color: #0000ff;
}
.fa-youtube, .fa-instagram {
    color: #ff0000;
}
form {
    display: flex;
    position: relative;
}
#email {
    width: 70%;
    height: 30px;
    margin-bottom: 10px;
    background-color: #fffefede;
    color: #1d1d1d;
}
.btn-lbl {
    position: absolute;
    text-align: center;
    bottom: 10px;
    right: 0;
    width: 30%;
    height: 30px;
    color: #fff;
    cursor: pointer;
    background-color: var(--blue);
}
#language, #location {
    font-family: monospace;
    font-weight: 600;
}

/* starting of end page */
.page-end {
    display: flex;
    position: relative;
    width: 100%;
    height: 40px;
    border-top: 1px solid #b1b1b1;
    margin: 30px 0 0 0;
    padding: 10px 8%;
}
.page-end a {
    margin-right: 20px;
    font-size: 0.8em;
}
.page-end span {
    position: absolute;
    right: 10.5%;
}
.page-end img {
    position: absolute;
    right: 8%;
    width: 25px;
    aspect-ratio: 1 / 1;
}
.key {
    animation: delay linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}
.keys {
    animation: delay linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 20%;
}
.keyed {
    animation: delay linear both;
    animation-timeline: view();
    animation-range: entry 80% cover 45%;
}
/* end of all styling */

/* animation panel */
@keyframes delay {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
/* end of animation panel */

/* start of media queries */
@media (min-width: 861px) and (max-width: 1000px) {
    .emp-5 {
        font-size: 0.9em;
        line-height: 30px;
    }
}
@media (max-width: 860px) {
    .right-links {
       position: absolute;
    }
}